# ── Ingestion API — Variables de entorno ──────────────────────────────────────
# Copiar este archivo como .env y completar los valores

# URL del Load Balancer. La Ingestion API reenvía los datos a través de él.
LOAD_BALANCER_URL=http://load-balancer:80

# Prefijo de ruta del Auth Service en el Load Balancer
AUTH_SERVICE_PATH=/auth/validate

# Prefijo de ruta del Noise Processing Backend en el Load Balancer
PROCESSING_BACKEND_PATH=/processing/measurements

# Puerto en que corre este servicio
PORT=8000
